* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Inicio */

header {
    background-color: #191919;
    color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

.logodusan {
    width: 12rem;
    margin-left: 2rem;
}

.perfil {
    width: 2rem;
    margin-right: 1rem;
}

.carrito {
    width: 2rem;
    margin-right: 2rem;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 20px;
}

.imagenes {
    background-position: center;
    background-size: cover;
    height: 100vh; 
}

footer {
    background-color: #191919;
    color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.primera {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.segunda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.linea {
    border-bottom: solid 1px #f4f4f4;
    width: 50%;
}

/* Productos */

.tituloproductos {
    margin-top: 80px;
    color: #044d3e;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.product-card {
    max-width: 12em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px 10px 10px;
  }
  .product-card img {
    max-width: 100%;
  }
  .product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
  }
  .product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card:hover {
    background-color: #044d3e;
    color: #fff;
  }
  .product-card:hover button {
    color: #000;
    background-color: #fff;
  }
  @media screen and (max-width: 576px) {
    .product-card {
      font-size: 0.9em;
    }
  }

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 10px 30px 30px 30px;
    
    
}

/* Nosotros */

.card {
    border: 0;
    border-radius: 0;
    color: #fff;
    box-shadow: 5px 5px 10px #e1e1e1;
    padding: 3em 0;
    border-bottom-right-radius: 4em;
    border-top-left-radius: 4em;
    background: linear-gradient(to left, #044d3e 50%, #191919 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s ease-out;
    margin: 100px 30px 30px 30px;
  }

.cartas {
    display: flex;
    justify-content: center;
}

.titulonosotros {
    margin-top: 80px;
    color: #044d3e;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.parrafonosotros{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
}

.card-icon {
    margin: 0 1em;
  }
.card-icon i{
    font-size: 3em;
  }
.card:hover {
    background-position: left;
  } 


/* Testimonios */

 .titulotestimonios {
    margin-top: 80px;
    color: #044d3e;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.carousel img {
    width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
  }

  @media screen and (min-width: 576px) {
    .carousel-inner1 {
      display: flex;
      width: 90%;
      margin-inline: auto;
      padding: 1em 0;
      overflow: hidden;
    }
    .carousel-item1 {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 2);
    }
  }
  @media screen and (min-width: 1024px) {
    .carousel-item1 {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 3);
    } 
   } 
   .carousel .card {
    margin: 0 0.5em;
    border: 0;
    
  }
  

  /* Contacto */

  input[type='text']{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #044d3e;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.enviar{
    background-color: #044d3e;
    color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;


}

.texto-contacto1{
    font-family: montserrat;
    color: #044d3e;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
}

.texto-contacto2{
    font-family: montserrat;
    color: #044d3e;
    font-weight: 900;
    text-align: center;
}

.parrafo-contacto{
    font-family: montserrat;
    color: #044d3e;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}


